<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Id</th>
      <th>Address</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to "#{order.id}", order %></td>
        <td><%= order.address %></td>
        <td>
          <% if order.status == 0%>
            <span class="label label-info"> Processing </span>
          <% else %>
            <span class="label label-success"> Finish </span>
          <% end %>
        </td>
        <% if current_user.admin? %>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
